@model IEnumerable<DiziFilmModel.Models.Oyuncular>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h1>Index</h1>

<p>

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OyuncuAdi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OyuncuYas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OyuncuCinsiyet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiziID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OyuncuAdi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OyuncuYas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OyuncuCinsiyet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiziID)
            </td>
            <td>

            </td>
        </tr>
}
    </tbody>
</table>
